<!DOCTYPE html>
<html>
<head>
  <title>Mamalisa</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- The Main Wrapper -->
<div class="page bg-image bg-image-1 text-center">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header bg-grayscale-darken">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!--RD Navbar Brand-->
                        <div class="rd-navbar-brand medium">
                            <div class="brand-header">
                                <span>ESTD</span>
                                <img src="images/logo.png" alt="" width="70" height="67">
                                <span>2008</span>
                            </div>
                            <a href="./index.html" class="brand-name">Bellissimo</a>

                            <div class="brand-slogan"><p>Italian Restaurant</p></div>
                        </div>
                        <!--END RD Navbar Brand -->
                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li>
                                <%= link_to 'Main Page', root_path %>
                                <!-- RD Navbar Megamenu -->
                                <ul class="rd-navbar-megamenu">
                                    <li>
                                        <h3>Popular in Menu</h3>
                                        <ul>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Cavatapi</a></p>
                                                    <p class="price">$18,60</p>
                                                    <p>Smoked Mozzarella, Sun-Dried Tomato, Spinach.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Ricotta Gnocchi</a></p>
                                                    <p class="price">$10,16</p>
                                                    <p>Broccolini, Sausage, Garlic,
                                                        Parmesan.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Chicken Broccoli Penne</a></p>
                                                    <p class="price">$27,20</p>
                                                    <p>Fresh Garlic, Cream, Parmesan Cheese.</p>
                                                </div>
                                                <div class="pricing-box">
                                                    <p class="pricing-box__title"><a href="#">Pasta Louise</a></p>
                                                    <p class="price">$17,25</p>
                                                    <p>Sauteed Chicken, Plum Tomato,
                                                        Asparagus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="images/megamenu_01.jpg" alt="" width="381" height="553">
                                        <dl>
                                            <dt>Call us:</dt>
                                            <dd><a href="callto:#" class="text-grayscale-darken">+1 800 889 9898</a></dd>
                                        </dl>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Megamenu -->
                            </li>
                            <li>
                               <a href="index-1.html">About Us</a>

                                <!-- RD Navbar Dropdown -->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">FAQ</a></li>

                                    <li>
                                        <a href="#">Areas We Serve</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="#">New Orleans</a></li>
                                            <li><a href="#">Mandeville</a></li>
                                            <li><a href="#">Covington</a></li>
                                            <li><a href="#">Slidell</a></li>
                                            <li><a href="#">Houma</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END RD Navbar Dropdown -->
                            </li>
                            <li>
                                <a href="/menus">Menu</a>
                            </li>
                            <li>
                                <a href="index-3.html">News</a>
                            </li>
                            <li>
                                <a href="index-4.html">Contacts</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>
                </div>
            </nav>
        </div>
        <!--END RD Navbar-->

      <% if current_page?(:controller => 'pages', :action => 'index') %>
        <!-- Parallax -->
          <div class="rd-parallax" data-on="false" data-lg-on="true">
              <div class="rd-parallax-layer bg-grayscale-darken"
                   data-type="media"
                   data-url="images/parallax_01.jpg"
                   data-speed="0.15">
              </div>

              <div class="rd-parallax-layer full-size" data-type="html" data-speed="0">
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                      <div class="brand-header">
                          <span>ESTD</span>
                          <%= image_tag("mamalisa.jpg", class: "logo_icon") %>
                          <span>2015</span>
                      </div>
                      <a href="./index.html" class="brand-name">MamaLisa</a>

                      <div class="brand-slogan"><p>Malaysian Restaurant</p></div>
                  </div>
                  <!--END RD Navbar Brand -->
              </div>
          </div>
          <!-- END Parallax -->
      <% else %>
          <!-- Parallax -->
          <div class="rd-parallax" data-on="false" data-lg-on="true">
              <div class="rd-parallax-layer parallax-shift-down bg-grayscale-darken"
                   data-type="media"
                   data-url="images/parallax_01.jpg"
                   data-speed="0.15">
              </div>

              <div class="rd-parallax-layer well-lg" data-type="html" data-speed="0">
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand medium">
                      <div class="brand-header">
                          <span>ESTD</span>
                          <img src="images/logo.png" alt="" width="70" height="67">
                          <span>2008</span>
                      </div>
                      <a href="./index.html" class="brand-name">Bellissimo</a>

                      <div class="brand-slogan"><p>Italian Restaurant</p></div>
                  </div>
                  <!--END RD Navbar Brand -->
              </div>
          </div>
          <!-- END Parallax -->
      <% end %>
    </header>

<%= yield %>

</body>
</html>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>
